.sort-bar {
  width: 30%;
  top: 30px;
  right: 10px;
  position: absolute;
}

.sort-bar label {
  font-size: 18px;
  padding: 5px;
}

.sort-bar select {
  width: 30%;
  margin-left: 5px;
  padding: 3px;
  border-radius: 5px;
}
